:root {
  --black-position: 0 -20px;
  --white-position: 100px 115px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.star {
  appearance: none;
  height: 100px;
  width: 100px;
  margin: 0;
}

.container {
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
}

.star {
  pointer-events: auto;
}

.star {
  background-image: url(./stars-empty-full.svg);
  background-size: 520px;
  background-position: var(--black-position);
}

.star-0 {
  display: none;
}

.container:hover > .star:checked ~ .star:hover ~ .star,
.container:hover > .star:hover ~ .star:checked ~ .star,
.container:hover > .star:checked:hover ~ .star,
.container:not(:hover) > .star:checked ~ .star {
  background-position: var(--white-position);
}