:root {
  font-size: 1em;
}

h1 {
  font-size: 4rem;
}

.pop-up-word > span {
  display: inline-block;
  transition: color .2s ease-in, 
    transform .2s ease-in;
}

.pop-up-word > span:hover {
  color: crimson;
  transform: translateY(-4px);

}

.pop-up-word > span {
  transition-delay: .1s;
}

